.homePage {
    width: 100%;
    height: 100vh;
}



.homePage h1{
    text-align: center;
}

.homePage h2{
    text-align: center;
}

.homePage h3{
    margin-left: 70px;
}

.homePage h4{
    margin-left: 100px;
}

.homePage a{
    margin-left: 130px;
}

.noCentering a{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.homePage p{
    margin-left: 130px;
    margin-bottom: 16px;
}

.homePageSubButton button{
  background-color: #7d120b;   
  color: white;               
  padding: 12px 24px;         
  font-size: 18px;             
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
}

body {
    font-family: 'sans-serif', 'Roboto', 'Arial';
}