.injectPage table {
    border: 2px;
    background-color: #7d120b;
    width: 800px;
    height: 200px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.injectPage h1 {
    margin-left: 20px;
}

.injectPage th {
    border-bottom: 1px solid black;
}

.injectPage td {
    text-align: center;
}

.center{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 40%;
}