
.scoreboardPage table {
    text-align: center;
    border: 2px solid crimson;
    width: 800px;
    height: 200px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.scoreboardPage h1 {
    margin-left: 20px;
    text-align: center;
}

.scoreboardPage th {
    text-align: center;
    border-bottom: 1px solid black;
}

.scoreboardPage td {
    text-align: center;
}