.app-header {
  background-color: crimson; 
  
  color: white; 
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-title a {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header-nav a {
  color: white;
  text-decoration: none; 
  padding: 5px 10px;
}

